

<!DOCTYPE html>
<html>
<head>
  <title>Waste Optimization</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- body %>   <!-- express-ejs-layouts will inject your page content here -->
</body>
</html>
